html {
  scroll-behavior: smooth;
}

body {
  background: url("../src/images/butterfly.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#landing{
  background: rgba(32, 121, 255, 0.8);
  height: 100vh;
}

.landing-text{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#logo{
  animation: fill-anim 0.5s ease forwards 4s;
}

#logo path:nth-child(2){
  stroke-dasharray: 550.66px;
  stroke-dashoffset: 650.66px;
  animation: line-anim 2s ease forwards;
}
#logo path:nth-child(3){
  stroke-dasharray: 490.291px;
  stroke-dashoffset: 490.291px;
  animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(4){
  stroke-dasharray: 604.48px;
  stroke-dashoffset: 604.48px;
  animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(5){
  stroke-dasharray: 571.577px;
  stroke-dashoffset: 571.577px;
  animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(6){
  stroke-dasharray: 565.95px;
  stroke-dashoffset: 565.95px;
  animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(7){
  stroke-dasharray: 754.926px;
  stroke-dashoffset: 754.926px;
  animation: line-anim 2s ease forwards 1.5s;
}
#logo path:nth-child(8){
  stroke-dasharray: 483.89px;
  stroke-dashoffset: 483.89px;
  animation: line-anim 2s ease forwards 1.8s;
}
#logo path:nth-child(9){
  stroke-dasharray: 493.91px;
  stroke-dashoffset: 493.91px;
  animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(10){
  stroke-dasharray: 463.96px;
  stroke-dashoffset: 463.96px;
  animation: line-anim 2s ease forwards 2.4s;
}
#logo path:nth-child(11){
  stroke-dasharray: 549px;
  stroke-dashoffset: 549px;
  animation: line-anim 2s ease forwards 2.7s;
}
#logo path:nth-child(12){
  stroke-dasharray: 493px;
  stroke-dashoffset: 493px;
  animation: line-anim 2s ease forwards 3.0s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fill-anim{
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

.container{
  background: rgba(30, 39, 46, 0.8);
  color:#d2dae2;
}

.App {
  text-align: center;
}
.card{
  box-shadow: 4px 4px 15px 5px rgba(92, 91, 91, 0.53);
}
.card:hover{
  -webkit-box-shadow: 4px 4px 17px 9px rgba(168, 167, 167, 0.53); 
  box-shadow: 4px 4px 17px 9px rgba(168, 163, 163, 0.53);
  cursor: pointer;
}
.email{
  font-size: 14px;
}

.fas{
  display: block!important;
  position: absolute;
  color: #fff;
  left: 50%;
  top: 80%;
  
}

.arrow1{
  animation-timing-function: ease-in;
  animation: wave 2s infinite;
  
}
.arrow2{
  margin-top: .4em;
  animation: wave 2s infinite;
  animation-delay: .1s;
  animation-timing-function: ease-in;
}
.arrow3{
  margin-top: .8em;
  animation: wave 2s infinite;
  animation-delay: .4s;
  animation-timing-function: ease-in;

}

@keyframes wave{
  10%{
    top: 80.2%;
  }
  20%{
    top: 80.4%;
  }
  30%{
    top: 80.6%;
  }
  40%{
    top: 80.8%;
  }
  50%{
    top: 80.6%;
  }
  60%{
    top: 80.4%;
  }
  80%{
    top: 80.2%;
  }
  100%{
    top: 80%;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 940px;
  }
}
